 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    position: absolute;
    width: 1920px;
    max-height: 937px;
    /* background: url('image/bg2.jpg') no-repeat center / cover; */
    z-index: -3;
}

.text {
    color: white;
}

.sun, .mercury, .venus, .earth, .mars, .jupiter, .saturn, .uran, .neptune  {
    position: absolute;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.sun {
    background: url('/image/Sun2.png') no-repeat center / cover;
    top: 400px;
    left: 892px;
    width: 135px;
    height: 135px;
}


.mercury {
    background: url('/image/Mercury.png') no-repeat center / cover;
    height: 45px;
    width: 45px;
    top:372px;
    left: 840px;
    offset-path: path('M239.5 95C239.5 147.088 186.113 189.5 120 189.5C53.8868 189.5 0.5 147.088 0.5 95C0.5 42.9117 53.8868 0.5 120 0.5C186.113 0.5 239.5 42.9117 239.5 95Z');
    animation: move 18s infinite linear;
}

.venus {
    background: url('/image/Venus.png') no-repeat center / cover;
    left: 750px;
    height: 50px;
    width: 50px;
    top:330px; 
    offset-path: path('M419 140C419 178.222 395.761 212.947 357.938 238.163C320.121 263.374 267.82 279 210 279C152.18 279 99.879 263.374 62.0623 238.163C24.2385 212.947 1 178.222 1 140C1 101.778 24.2385 67.0529 62.0623 41.8371C99.879 16.6259 152.18 1 210 1C267.82 1 320.121 16.6259 357.938 41.8371C395.761 67.0529 419 101.778 419 140Z');
    animation: move 25s infinite linear;
    
}

.earth {
    background: url('/image/Earth.png') no-repeat center / cover;
    left: 640px;
    height: 73px;
    width: 73px;
    top: 280px; 
    offset-path: path('M639 190C639 241.973 603.514 289.201 545.764 323.49C488.034 357.767 408.217 379 320 379C231.783 379 151.966 357.767 94.2364 323.49C36.4856 289.201 1 241.973 1 190C1 138.027 36.4856 90.7991 94.2364 56.5096C151.966 22.2329 231.783 1 320 1C408.217 1 488.034 22.2329 545.764 56.5096C603.514 90.7991 639 138.027 639 190Z');
    animation: move 32s infinite linear;
    
}

.mars {
    background: url('/image/Mars.png') no-repeat center / cover;
    left: 540px;
    height: 49px;
    width: 49px;
    top:230px; 
    offset-path: path('M839 240C839 305.76 792.345 365.491 716.489 408.837C640.66 452.168 535.838 479 420 479C304.162 479 199.34 452.168 123.511 408.837C47.6548 365.491 1 305.76 1 240C1 174.24 47.6548 114.509 123.511 71.1626C199.34 27.8322 304.162 1 420 1C535.838 1 640.66 27.8322 716.489 71.1626C792.345 114.509 839 174.24 839 240Z');
    animation: move 40s infinite linear;
}

.jupiter {
    background: url('/image/Jupiter.png') no-repeat center / cover;
    left: 410px;
    height: 75px;
    width: 75px;
    top:170px; 
    offset-path: path('M1099 300C1099 382.305 1037.82 457.039 938.43 511.254C839.073 565.449 701.744 599 550 599C398.256 599 260.927 565.449 161.57 511.254C62.1752 457.039 1 382.305 1 300C1 217.695 62.1752 142.961 161.57 88.7459C260.927 34.5511 398.256 1 550 1C701.744 1 839.073 34.5511 938.43 88.7459C1037.82 142.961 1099 217.695 1099 300Z');
    animation: move 50s infinite linear;
}

.saturn {
    background: url('/image/Saturn.png') no-repeat center / cover;
    left: 285px;
    height: 60px;
    width: 131.25px;
    top:115px; 
    offset-path: path('M1349 355C1349 452.474 1273.86 540.961 1151.83 605.138C1029.85 669.291 861.267 709 675 709C488.733 709 320.149 669.291 198.168 605.138C76.1415 540.961 1 452.474 1 355C1 257.526 76.1415 169.039 198.168 104.862C320.149 40.7094 488.733 1 675 1C861.267 1 1029.85 40.7094 1151.83 104.862C1273.86 169.039 1349 257.526 1349 355Z');
    animation: move 61s infinite linear;
}

.uran {
    background: url('/image/Uran.png') no-repeat center / cover;
    left: 145px;
    height: 82.5px;
    width: 82.5px;
    top:75px; 
    offset-path: path('M1629 395C1629 503.477 1538.25 601.972 1390.86 673.407C1243.53 744.809 1039.94 789 815 789C590.061 789 386.467 744.809 239.144 673.407C91.7524 601.972 1 503.477 1 395C1 286.523 91.7524 188.028 239.144 116.593C386.467 45.1909 590.061 1 815 1C1039.94 1 1243.53 45.1909 1390.86 116.593C1538.25 188.028 1629 286.523 1629 395Z');
    animation: move 73s infinite linear;
}

.neptune {
    background: url('/image/Neptune.png') no-repeat center / cover;
    left: 40px;
    top: 33px;
    height: 48.75px;
    width: 48.75px;
    offset-path: path('M1839 437.75C1839 555.255 1736.52 664.066 1570.11 743.562C1403.78 823.018 1173.93 873 920 873C666.067 873 436.22 823.018 269.893 743.562C103.484 664.066 1 555.255 1 437.75C1 320.244 103.486 211.058 269.894 131.188C436.222 51.3568 666.068 1 920 1C1173.93 1 1403.78 51.3568 1570.11 131.188C1736.51 211.058 1839 320.244 1839 437.75Z');
    animation: move 85s infinite linear;
}

.mercury-line, .venus-line, .earth-line, .mars-line, .jupiter-line, .saturn-line,
 .uran-line, .neptune-line {
    position: absolute;
    height: 190px;
    width: 240px;
    border: 1px solid orange;
    border-radius: 50%;
    left: 840px;
    top: 374px;
    z-index: -2;
}

.venus-line {
    left: 750px;
    top: 328px;
    height: 280px;
    width: 420px;
}

.earth-line{
    left: 640px;
    top: 280px;
    height: 380px;
    width: 640px;
}

.mars-line {
    left: 540px;
    top: 230px;
    height: 480px;
    width: 840px;
}

.jupiter-line {
    left: 410px;
    top: 170px;
    height: 600px;
    width: 1100px;
}

.saturn-line {
    left: 285px;
    top: 115px;
    height: 710px;
    width: 1350px;
}

.uran-line {
    left: 145px;
    top: 75px;
    height: 790px;
    width: 1630px;
}

.neptune-line {
    left: 40px;
    top: 33px;
    height: 874px;
    width: 1840px;
}

@keyframes move {
    from{
        offset-distance: 100%;
    }
    to {
        offset-distance: 0%;
    }
}

@keyframes move-mercury {
    100% {
        offset-distance: 100%;
    }
}

.planet-info {
    display: block;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 700px;
    height: 100vh;
    left: -700px;
    background-color: rgb(53, 50, 50);
    overflow-y: scroll;
    transition: all 1s;
    opacity: 0;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}

.close::after {
    content: '';
    top: 50%;
    height: 3px;
    width: 25px;
    background-color: #fff;
    position: absolute;
    transition: all 1s;
}

.close::before {
    top: 50%;
    position: absolute;
    content: '';
    height: 3px;
    width: 25px;
    background-color: #fff;
    transition: all 1s;
}

.close-active::before {
    transform: rotate(45grad);
    transition: 1.2s;
}

.close-active::after {
    transform: rotate(-45grad);
    transition: 1.2s;
}

.description-planet-mercury, .description-planet-venus, .description-planet-earth, .description-planet-mars, .description-planet-jupiter,
.description-planet-saturn, .description-planet-uran, .description-planet-neptune, .description-planet-sun {
    color: white;
    padding: 30px 40px 25px 40px;
    position: relative;
}

.description-title-mercury, .description-title-venus, .description-title-earth, .description-title-mars {
    text-align: center;
    color: orange;
}

.description-image-mercury, .description-image-venus, .description-image-earth, .description-image-mars {
    width: 50%;
    display: block;
    margin: 20px auto;
}

.description-image-sun {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: baseline;
}

.description-image-sun img{
    width: 90%;
}

.description-features-mercury, .description-features-venus, .description-features-earth, .description-features-mars {
    line-height: 28px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
    text-align: center;
}

.description-features-title-mercury, .description-features-title-venus, .description-features-title-earth, .description-features-title-mars {
    color: orange;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.description-info-mercury h2, .description-info-venus h2, .description-info-earth h2, .description-info-mars h2{
    color: orange;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.description-info-descr-mercury, .description-info-descr-venus, .description-info-descr-earth, .description-info-descr-mars {
    text-indent: 20px;
    line-height: 28px;
}

.planet-info::-webkit-scrollbar {
    width: 7px;

}
  
.planet-info::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.hidden {
    display: none;
    transition: 1s;
}

.active {
left: 0px;
opacity: 1;
transition: all 1s;
}

.description-moon-btn {
    position: absolute;
    background-color: inherit;
    width: 160px;
    height: 46px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 0;
    font-size: 16px;
    line-height: 22px;
    border-radius: 8px;
    transition: 0.4s linear;
    right: 35px;
    top: 100px;
}

.description-moon-btn:hover {
    background-color: black;
}